/* 기본 스타일 */
body {
    font-family: 'GmarketSans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* 헤더 고정 */
header {
    background-color: #ffffff;
    color: #31624E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 20px;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* 다른 요소 위에 위치하도록 설정 */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

/* 네비게이션 바 고정 */
nav {
    background-color: #E0EFE8;
    position: fixed;
    top: 60px; /* header 아래에 위치 */
    width: 100%;
    z-index: 999;
}

/* 네비게이션 내부 요소 스타일 */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    position: relative;
    margin: 0 20px;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
    color: white;
}

/* 본문 콘텐츠 스타일 (스크롤 가능하도록 설정) */
.section {
    margin-top: 120px; /* header(60px) + nav(60px) 높이만큼 여백 추가 */
    padding: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto; /* 세로 스크롤 활성화 */
}
